<!DOCTYPE html>
<html>
  <head>
    <title>To Do</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ css }}" rel="stylesheet" media="screen" />
	<link href="{{ themecss }}" rel="stylesheet" media="screen" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	  <div id="wrap">
	  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Todo</a>
	    </div>
	    <div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="./logout">Logout</a>
				</li>
			</ul>
	    </div><!-- /.navbar-collapse -->
	  </nav>
	<div class="container" style="margin-top:70px;">
		<h1>{{ errortitle }}</h1>
		{{ errortext }}
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ js }}"></script>
  </body>
</html>