<!DOCTYPE html>
<html>
  <head>
    <title>To Do</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ base }}static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<!-- Without Theme CSS it looks better.
		<link href="./static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	  <div id="wrap">
		  <nav class="navbar navbar-default" role="navigation">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{ base }}">Todo</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="navbar-nav nav navbar-right">
					<li><a href="./logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	<div class="container">
		<h1>Todos</h1>
		<ul class="list-group">
		{% for todo in todos %}
		  <li class="list-group-item">{{ todo[0] }} <form action="{{ base }}delete" method="post" style="float:right"><button class="btn btn-danger btn-xs" name="delete" value="{{ todo[1] }}"><span class="glyphicon glyphicon-remove"></span></button></form></li>
		{% endfor %}
			<li class="list-group-item">
				<form action="{{ base }}add" method="post" class="form-group form-inline">
					<input type="text" name="todo" class="form-control" autofocus="autofocus" placeholder="Enter new Todo and hit Enter" />
				</form>
			</li>
		</ul>
		
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ base }}static/js/bootstrap.min.js"></script>
  </body>
</html>
